# Composer
vendor
composer.lock
composer-dev.*

# Systems
.DS_Store

#Tools
super-linter.log
.php-cs-fixer.cache
.php-cs-fixer.php
tools/php-cs-fixer/composer.lock

# App
var/
.cache
.logs

# Auto prepend demo
scripts/auto-prepend/settings.php
scripts/auto-prepend/.logs
scripts/auto-prepend/.cache
scripts/**/*.log

# MaxMind databases
*.mmdb
