# Composer
vendor
/composer.lock

# Systems
.DS_Store

#Tools
super-linter.log
.php-cs-fixer.cache
.php-cs-fixer.php

# App
/var/
.bouncer-key
.cache

# Auto prepend demo
examples/auto-prepend/settings.php
examples/auto-prepend/.logs
examples/auto-prepend/.cache
examples/**/*.log

# MaxMind databases
*.mmdb