<?php

use CrowdSecBouncer\Constants;

$crowdSecStandaloneBouncerConfig = [
    // LAPI Connection
    'auth_type' => 'api_key',
    'api_url' => 'https://crowdsec:8080',
    'api_key' => 'REPLACE_API_KEY',
    'api_timeout' => 1,
    'use_curl' => false,
    'tls_cert_path' => '',
    'tls_key_path' => '',
    'tls_verify_peer' => true,
    'tls_ca_cert_path' => '',
    // Debug/Test
    'debug_mode' => true,
    'display_errors' => true,
    'log_directory_path' => __DIR__ . '/.logs',
    'fs_cache_path' => __DIR__ . '/.cache',
    'forced_test_ip' => 'REPLACE_FORCED_IP',
    'forced_test_forwarded_ip' => 'REPLACE_FORCED_FORWARDED_IP',
    // Bouncer
    'bouncing_level' => Constants::BOUNCING_LEVEL_NORMAL,
    'stream_mode' => false,
    'excluded_uris' => ['/favicon.ico'],
    'fallback_remediation' => Constants::REMEDIATION_CAPTCHA,
    'trust_ip_forward_array' => ['REPLACE_PROXY_IP'],
    // Cache
    'cache_system' => Constants::CACHE_SYSTEM_PHPFS,
    'redis_dsn' => 'redis://redis:6379',
    'memcached_dsn' => 'memcached://memcached:11211',
    'clean_ip_cache_duration' => 1,
    'bad_ip_cache_duration' => 1,
    'captcha_cache_duration' => 86400,
    // Geolocation
    'geolocation' => [
        'cache_duration' => 86400,
        'enabled' => false,
        'type' => 'maxmind',
        'maxmind' => [
            'database_type' => 'country',
            'database_path' => '/var/www/html/my-code/crowdsec-bouncer-lib/tests/GeoLite2-Country.mmdb'
        ]
    ],
    // Settings for ban and captcha walls
    'custom_css' => '',
    // true to hide CrowdSec mentions on ban and captcha walls.
    'hide_mentions' => false,
    'color' => [
        'text' => [
            'primary' => 'black',
            'secondary' => '#AAA',
            'button' => 'white',
            'error_message' => '#b90000',
        ],
        'background' => [
            'page' => '#eee',
            'container' => 'white',
            'button' => '#626365',
            'button_hover' => '#333',
        ],
    ],
    'text' => [
        // Settings for captcha wall
        'captcha_wall' => [
            'tab_title' => 'Oops..',
            'title' => 'Hmm, sorry but...',
            'subtitle' => 'Please complete the security check.',
            'refresh_image_link' => 'refresh image',
            'captcha_placeholder' => 'Type here...',
            'send_button' => 'CONTINUE',
            'error_message' => 'Please try again.',
            'footer' => '',
        ],
        // Settings for ban wall
        'ban_wall' => [
            'tab_title' => 'Oops..',
            'title' => '🤭 Oh!',
            'subtitle' => 'This page is protected against cyber attacks and your IP has been banned by our system.',
            'footer' => '',
        ],
    ],
];
